body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #1F2937;
    height: 500px;
}

.header-container {
    padding: 0px 150px;
}

.header-image {
    height: 200px;
}

.header-logo-text, .header-text, .btn{
    color: #F9FAF8;
}

.header-secondary-text, a {
    color: #ced0d4;
    font-size: 16px;
    margin-top: -30px;
    width: 600px;
}

.header-text {
    font-size: 48px;
    width: 500px;
    font-weight: 900;
}

.header-logo-text{
    font-size: 24px;
}

.nav-header-container {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-links-container {
    display: flex;
    gap: 20px;
}

.nav-header-container .nav-links {
    margin-left: auto
}

.header-flex-container {
    display: flex;
    margin-top: 70px;
}

.header-image {
    width: 400px;
    height: 100%;
}

.header-image-container {
    margin-left: auto;
    height: 100%;
}

.btn {
    background-color: #3882F6;
    font-size: 17px;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

#about {
    height: 400px;
    margin-bottom: 150px;
}

.about-flex-container {
    display: flex;
    flex-direction: column;
}

.about-cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about-card {
    width: 250px;
}

.about-card-image {
    height: 60%;
    width: 100%;
    border-radius: 5px;
}

.about-text {
    text-align: center;
}

.about-us-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.about-card-text {
    color: #6f7072;
    font-size: 16px;
}

#quote-section {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #4f4f53;
}

.quote-text-container {
    width: 800px;
}

.right-align-quote-authur {
    text-align: right;
    font-size: 20px;
}

.booking-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: #3882F6;
    width: 800px;
    padding: 30px 60px;
    color: #F9FAF8;
    border-radius: 5px;
    display: flex;
}

.button-container {
    margin-left: auto;
}

.book-us-btn-outline {
    color: #F9FAF8;
    background-color: transparent;
    border: none;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 40px;
}

.booking-header {
    font-size: 30px;
    font-weight: bold;
}

.booking-subheader {
    margin-top: -20px;
    font-size: 12px;
}